[submodule "minimax_c/deps/glfw"]
	path = minimax_c/deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "minimax_c/deps/bgfx.cmake"]
	path = minimax_c/deps/bgfx.cmake
	url = https://github.com/bkaradzic/bgfx.cmake.git
[submodule "minimax_c/deps/assimp"]
	path = minimax_c/deps/assimp
	url = https://github.com/assimp/assimp.git
[submodule "minimax_c/deps/yoga"]
	path = minimax_c/deps/yoga
	url = https://github.com/facebook/yoga.git
