{:deps {org.clojure/clojure {:mvn/version "1.11.1"}

        org.clojure/core.match {:mvn/version "1.1.0"}
        org.joml/joml {:mvn/version "1.10.5"}

        org.lwjgl/lwjgl {:mvn/version "3.3.3"}
        org.lwjgl/lwjgl-glfw {:mvn/version "3.3.3"}
        org.lwjgl/lwjgl-bgfx {:mvn/version "3.3.3"}
        org.lwjgl/lwjgl-assimp {:mvn/version "3.3.3"}
        org.lwjgl/lwjgl-stb {:mvn/version "3.3.3"}
        org.lwjgl/lwjgl-nanovg {:mvn/version "3.3.3"}
        org.lwjgl/lwjgl-yoga {:mvn/version "3.3.3"}
        org.lwjgl/lwjgl-openal {:mvn/version "3.3.3"}
        org.lwjgl/lwjgl-jemalloc {:mvn/version "3.3.3"}

        ; for mac arm64
        org.lwjgl/lwjgl$natives-macos-arm64 {:mvn/version "3.3.3"}
        org.lwjgl/lwjgl-glfw$natives-macos-arm64 {:mvn/version "3.3.3"}
        org.lwjgl/lwjgl-bgfx$natives-macos-arm64 {:mvn/version "3.3.3"}
        org.lwjgl/lwjgl-assimp$natives-macos-arm64 {:mvn/version "3.3.3"}
        org.lwjgl/lwjgl-stb$natives-macos-arm64 {:mvn/version "3.3.3"}
        org.lwjgl/lwjgl-nanovg$natives-macos-arm64 {:mvn/version "3.3.3"}
        org.lwjgl/lwjgl-yoga$natives-macos-arm64 {:mvn/version "3.3.3"}
        org.lwjgl/lwjgl-openal$natives-macos-arm64 {:mvn/version "3.3.3"}
        org.lwjgl/lwjgl-jemalloc$natives-macos-arm64 {:mvn/version "3.3.3"}

        ; for windows
        org.lwjgl/lwjgl$natives-windows {:mvn/version "3.3.3"}
        org.lwjgl/lwjgl-glfw$natives-windows {:mvn/version "3.3.3"}
        org.lwjgl/lwjgl-bgfx$natives-windows {:mvn/version "3.3.3"}
        org.lwjgl/lwjgl-assimp$natives-windows {:mvn/version "3.3.3"}
        org.lwjgl/lwjgl-stb$natives-windows {:mvn/version "3.3.3"}
        org.lwjgl/lwjgl-nanovg$natives-windows {:mvn/version "3.3.3"}
        org.lwjgl/lwjgl-yoga$natives-windows {:mvn/version "3.3.3"}
        org.lwjgl/lwjgl-openal$natives-windows {:mvn/version "3.3.3"}
        org.lwjgl/lwjgl-jemalloc$natives-windows {:mvn/version "3.3.3"}

        ; for linux
        org.lwjgl/lwjgl$natives-linux {:mvn/version "3.3.3"}
        org.lwjgl/lwjgl-glfw$natives-linux {:mvn/version "3.3.3"}
        org.lwjgl/lwjgl-bgfx$natives-linux {:mvn/version "3.3.3"}
        org.lwjgl/lwjgl-assimp$natives-linux {:mvn/version "3.3.3"}
        org.lwjgl/lwjgl-stb$natives-linux {:mvn/version "3.3.3"}
        org.lwjgl/lwjgl-nanovg$natives-linux {:mvn/version "3.3.3"}
        org.lwjgl/lwjgl-yoga$natives-linux {:mvn/version "3.3.3"}
        org.lwjgl/lwjgl-openal$natives-linux {:mvn/version "3.3.3"}
        org.lwjgl/lwjgl-jemalloc$natives-linux {:mvn/version "3.3.3"}}
        
 :paths ["src" "resources"]
 :aliases {:dev {:extra-deps {cljfmt/cljfmt {:mvn/version "0.9.2"}}}
           :build {:extra-deps {org.clojure/tools.build {:mvn/version "0.9.1"}}
                   :extra-paths ["dev"]}}}
